{% extends "base.html" %}

{% block content %}
  <h1>Py Blog Home</h1>
  <br>
  <a class="page-item" href="{% url "blog:post-create" %}">Create new post</a>
  <ul>
    {% for post in post_list %}
      <li><strong>{{ pot.author.username }}: </strong> <a
          href="{% url "blog:post-detail" pk=post.id %}">{{ post.title }}</a>
        <br>
        <p>{{ post.content|truncatewords:30 }}</p>
        <p>{{ post.created_time }}</p>
        <p>{{ post.comments.all.count }} comments</p>
        <br>
      </li>
    {% endfor %}
  </ul>

{% endblock %}
